blis==0.7.9
catalogue==2.0.8
certifi==2022.12.7
charset-normalizer==3.0.1
click==3.0.1
cycler==0.11.0
cymem==2.0.7
data==0.4
decorator==5.1.1
emoji==1.2.0
en-core-web-sm @ https://github.com/explosion/spacy-models/releases/download/en_core_web_sm-3.0.0/en_core_web_sm-3.0.0.tar.gz
Flask==2.2.2
funcsigs==1.0.2
idna==3.4
importlib-metadata==6.0.0
itsdangerous==2.1.2
Jinja2==3.1.2
joblib==1.2.0
kiwisolver==1.4.4
MarkupSafe==2.1.2
matplotlib==3.2.2
murmurhash==1.0.9
nltk==3.8.1
numpy==1.24.1
packaging==23.0
pandas==1.5.3
pathy==0.10.1
praw==7.6.1
prawcore==2.3.0
preshed==3.0.8
pydantic==1.8.2
pyparsing==3.0.9
python-dateutil==2.8.2
pytz==2022.7.1
regex==2022.10.31
requests==2.28.2
six==1.16.0
smart-open==6.3.0
spacy==3.0.9
spacy-legacy==3.0.12
squarify==0.4.3
srsly==2.4.5
thinc==8.0.17
tqdm==4.64.1
typer
typing_extensions==4.4.0
update-checker==0.18.0
urllib3==1.26.14
wasabi==0.10.1
websocket-client==1.5.1
Werkzeug==2.2.2
zipp==3.12.0
